@tailwind base;
@tailwind components;
@tailwind utilities;

@import "mixins/breakpoints";
@import "footer";
@import "nav";
@import "works";
@import "slick";
@import "projectDetails.scss";

body {
  overflow-x: hidden;
}

.AnimApp {
  transform-style: preserve-3d;
}

.scroll-content {
  will-change: contents;
}
.AnimApp {
  overflow: hidden;
}
